SECRET_KEY="insert your secret_key"

DEBUG="insert your status Debug"

DATABASE_NAME="insert your database_name"
DATABASE_USER="insert your database_user"
DATABASE_PASSWORD="insert your database_password"
DATABASE_HOST="insert your database_host"
DATABASE_PORT="insert your database_port"

EMAIL_HOST='insert your email'
EMAIL_PORT='insert your port'
EMAIL_USE_TLS='select use TLS = False or True'
EMAIL_USE_SSL='select use SSL = False or True'
YOUR_EMAIL_HOST_USER="insert your email host user"
YOUR_EMAIL_HOST_PASSWORD="insert your host password"

LOCATION='location fo redis'