SECRET_KEY="insert your secret_key"

DEBUG="insert your status Debug"

DATABASE_NAME="insert your database_name"
DATABASE_USER="insert your database_user"
DATABASE_PASSWORD="insert your database_password"
DATABASE_HOST="insert your database_host"
DATABASE_PORT="insert your database_port"