{% extends 'catalog/base.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card mb-5 box-shadow">
            <div class="card-header text-center">
                <h4 class="my-0 font-weight-normal">Введите данные продукта</h4>
            </div>
            <div class="card-body">
                <!-- нужно указать enctype="multipart/form-data" Без этого атрибута в теге <form> браузер просто
                проигнорирует файл картинки и передаст на сервер только текстовые поля.-->
                <form method="post" action="" enctype="multipart/form-data" class="form-floating">
                    {% csrf_token %}

                    <div class="mb-3 text-start">
                        <label for="name">Наименование продукта</label>
                        <input type="text" name="name" class="form-control" id="name"
                               placeholder="Наименование продукта" required>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="purchase_price">Цена за покупку</label>
                        <input type="number" step="0.01" name="purchase_price" class="form-control" id="purchase_price"
                               placeholder="0.00" required>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="category" class="form-label">Категория продукта</label>
                        <!-- Тег select создает выпадающий список -->
                        <select name="category" class="form-select" id="category" required>
                            <option value="" disabled selected>Выберите категорию из списка</option>

                            <!-- Циклом выводим все категории, пришедшие из контроллера -->
                            {% for cat in categories %}
                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="description">Описание продукта</label>
                        <textarea name="description" class="form-control" id="description" rows="4"
                                  placeholder="Описание продукта" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="picture" class="form-label">Изображение продукта</label>
                        <input class="form-control" name="picture" type="file" id="picture">
                    </div>
                    <button type="submit" class="btn btn-lg w-100 btn-outline-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}