{% extends 'catalog/base.html' %}

{% block title %} Главная страница {% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
<div class="row text-center">
    {% for product in products %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <!--h1 class="card-title pricing-card-title">$ 140</h1>-->
                <ul class="list-unstyled mt-12 mb-4 text-start m-3">
                    <li>Описание продукта: {{product.description|truncatechars:100}}</li>
                    <li>Цена: {{product.purchase_price }}</li>
                    {% if product.picture %}
                    <img src="{{ product.picture.url }}" class="img-fluid rounded" alt="{{ product.name }}"
                         style="max-height: 200px;">
                    {% else %}
                    <p class="text-muted">Нет изображения</p>
                    {% endif %}
                </ul>
                <a href="{% url 'catalog:product_detail' pk=product.id %}"
                   class="btn btn-lg btn-block btn-outline-primary">Купить</a>
                <a href="{% url 'catalog:products_by_category' category_id=product.category.id %}" class="btn btn-lg btn-block btn-outline-primary">
                    Открыть категорию {{cat.name}}
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}